@use "../abstracts/_variables.sass" as var

.planet
    background-color: black
    border-radius: 100%
    width: 150px
    height: 150px

    &--mercury
        width: var.$mercury-size
        height: var.$mercury-size
        background-color: yellow

    &--venus
        width: var.$venus-size
        height: var.$venus-size
        background-color: purple

    &--earth
        width: var.$earth-size
        height: var.$earth-size
