.satellite
    background-color: red
    width: 15px
    height: 15px
    border-radius: 100%
    position: absolute
    top: 0
    left: 50%
    translate: -50% -50%

    &--moon
        @extend .satellite
        background-color: grey
        // animation: animation-rotate 5s linear

    &--phobos
        @extend .satellite
        background-color: white

    &--deimos
        @extend .satellite
        background-color: orange

@keyframes animation-rotate
    0%
        transform: rotate(0)
    100%
        transform: rotate(360deg)
